<style>
    .command-layout {
        display: grid;
        grid-template-columns: auto min-content;
        grid-column-gap: 0;
        white-space: nowrap;
    }
</style>

<div class="command-layout">
    <MudContainer Class="pa-0" />
    <MudContainer Class="pa-0">
        <MudButton ButtonType="ButtonType.Button" Variant="Variant.Text">New User</MudButton>
    </MudContainer>
</div>
